.tab-content {
    margin-top: 1em;
}

.bg-danger {
    background-color: #f2dede !important;
}

.bg-success {
    background-color: #dff0d8 !important;
}

#quick-link {
    float: right;
    margin-bottom: 1em;
}

.transaction-summary dt{
    width: auto;
}

.jumbotrom {
    margin-top: 1em;
}