Flask==0.10.1
Flask-RESTful==0.3.1
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.8
Werkzeug==0.10
aniso8601==0.92
itsdangerous==0.24
pytz==2014.10
six==1.9.0
wsgiref==0.1.2
xlrd==0.9.3
ordereddict==1.1
requests==2.5.1