{% extends "base.html" %}
{% block title %}Home webpage{% endblock %}
{% block page_title %}Validator
    <small>CWR document validator</small>{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h2>Welcome!</h2>

        <p>This is just a prototype to show the validator currently under development.</p>

        <p>Press the button to start making it work.</p>

        <p><a class="btn btn-primary btn-lg" role="button" href="/upload">Start uploading file</a></p>
    </div>
{% endblock %}