{% extends "base.html" %}
{% block title %}Upload file{% endblock %}
{% block page_title %}Validator
    <small>CWR document validator</small>{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h2>Using the validator</h2>

        <p>Just send the CWR file using the form below. It will undergo a validation process, after which the
            results will be displayed on the browser.</p>

        <p>Don't forget to put your email if you want to be sent an acknowledgment file with the validation
            results.</p>

    </div>
    <form class="form-horizontal" role="form" action="/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="inputEntity" class="col-sm-2 control-label">Sender</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEntity" placeholder="Sender email">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputFile" class="col-sm-2 control-label">File input</label>

            <div class="col-sm-10">
                <input type="file" id="exampleInputFile" class="btn btn-default" name="file">
            </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Submit</button>
    </form>
{% endblock %}
