<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home webpage</title>
    <link href="../static/bootstrap/css/bootstrap.min.css"
          rel="stylesheet" type="text/css">
    <link href="../static/bootstrap/js/bootstrap.min.js"
          rel="script" type="text/css">
    <script
	  src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
    <div id="wrapper" class="container">
        <div id="header">
			<div class="page-header">
	            <h1>Validator <small>CWR document validator</small></h1>
            </div>
		</div>
		<div id="header_menu">
            <div class="navbar navbar-inverse" role="navigation">
	            <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse"
			            data-target="#bs-example-navbar-collapse-1">
			            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
			            <span class="icon-bar"></span> <span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand" href="#">Home</a>
	               </div>
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		            <ul class="nav navbar-nav">
			            <li><a href="/upload">Upload file</a></li>
				        <!-- <li><a href="/results">View results</a></li> -->
		            </ul>
	            </div>
            </div>
		</div>
        <div class="jumbotron">
          <h2>Welcome!</h2>
          <p>This is a small interface for a CWR validator testing, press the button below to start trying it</p>
          <p><a class="btn btn-primary btn-lg" role="button" href="/upload">Start uploading file</a></p>
        </div>
    </div>
  </body>
</html>
